<html>
    <head>
        <title>Hi117's Image Database</title>
    </head>
    <body>
        <p>
            {% if username == None %}
            You are not logged in! <a href="login">Login</a>.
            {% else %}
            Welcome {{ username }}! <a href="logout">Logout</a>
            {% endif %}
        </p>
        {% for i in images %}
        <a href="get/{{ i[0] }}"><img src="thumb/{{ i[0] }}"></a>{{ i[1] }}
        {% endfor %}
        <table>
            <tr>
                {% if offset > 0 %}
                <td><a href="?offset={{ offset - 1 }}">Prev</a></td>
                {% endif %}
                <td><a href="?offset={{ offset + 1 }}">Next</a></td>
            </tr>
        </table>
    </body>
</html>
