<html>
    <head>
        <title>Login - Image Database</title>
    </head>
    <body>
        <form action="login" method="post">
            <table>
                <tr>
                    <td>
                        Username: <input name=username>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password: <input name=password type=password>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type=submit value=Login>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
